.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 15%;
  padding: 20px;
  color: white;
}

.displayContent-Header{
  background-color: #222;
  border-radius: 3px 3px 0px 0px;
  padding: 5%;
  color: white;
}

.displayContent-Content{
  border: black thick;
  border-radius: 3px;
  margin: 1px;
}

.displayContent-Container{
  border: black thin;
  border-radius: 3px;
}

.Add-Button {
  float: right;
}

.App-intro {
  font-size: large;
}

.container-buttons {
}

.Cool-Styling {
  font-size: 2vW;
  color: #000000;
}

.inline-block {
  height: auto;
  margin: 20px;
}

.Box {
  background-color: #ffffff;
  color: #000000;
}

.Interactive-buttonright:hover {
  background-color: #a9a9a9;
}

.Interactive-buttonleft:hover {
  background-color: #a9a9a9;
}
